<!-- Proxy de l'université pour Maven, qui ignore HTTP_PROXY et HTTPS_PROXY -->
<settings>
  <proxies>
    <proxy>
      <id>univ</id>
      <active>true</active>
      <protocol>https</protocol>
      <host>cache-etu.univ-artois.fr</host>
      <port>3128</port>
    </proxy>
  </proxies>
</settings>
